
.button
  transition: all .1s ease-in-out
  height: 42px
  min-width: 114px
  background: #FFFFFF
  border: 2px solid #E4F1FD
  border-radius: 100px
  font-family: Helvetica
  font-size: 15px
  font-weight: 400
  color: #297FCA
  letter-spacing: 0
  text-align: center
  cursor: pointer
  &:hover
    box-shadow: 0 2px 3px #ccc

.active
  border: 2px solid #297FCA
  font-wight: 600
  box-shadow: none !important
  cursor default !important
