body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Text,
.TextBody,
.TextBigValue {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #297FCA;
  letter-spacing: 0;
  line-height: 19px;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
}

.TextBody {
  opacity: 0.8;
}

.TextBigValue {
  font-size: 60px;
  font-weight: 500;
  margin: 50px 0;
  align-self: center;
}
