
body, html
  margin: 0
  padding: 0
  display: flex
  flex: 0
  font-family: 'Open Sans', sans-serif
  box-sizing: border-box

.Text,
.TextBody,
.TextBigValue
  font-family: inherit
  font-size: 16px
  color: #297FCA
  letter-spacing: 0
  line-height: 19px
  font-weight: 600
  text-decoration: none
  margin: 0

.TextBody
  opacity: 0.8
  font-weight: 400

.TextBigValue
  font-size: 60px
  font-weight: 500
  margin: 50px 0
  align-self: center
