
.findPlayers
  flex: 1
  display: flex
  flex-flow: column
  justify-content: flex-start
  align-items: center

.header
  /* Sherpa FindPlayers: */
  font-family: inherit
  font-size: 52px
  color: #297FCA
  letter-spacing: -2px
  line-height: 58px
  font-weight: normal

.message
  margin: 5px 60px
  color: darkgrey
  font-family: Assistant
  font-weight: 200
  font-size: 26px
  text-align: center


.messageContainer
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  flex: 1
