
.gridList
  margin: auto
  min-width: 80vw
  max-width: 1240px
  display: flex
  flex-flow: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: flex-start

  @media(max-width: 1200px)
    max-width: 750px
