
.container
  font-family: Assistant
  width: 200
  display: flex
  flex-flow: column
  justify-content: space-between
  align-items: center

.link
  font-weight: bold
  margin: 10
  color: darkgrey
  text-decoration: none

  &:hover
    text-decoration: none
    color: darkgrey

.selectHeader
  text-align: center
  font-size: 40px
  color: darkgrey
  font-weight: 200

.prompt
  text-align: center
  font-size: 25px
  color: darkgrey
  margin: 0

.leagues
  width: 80vw
  height: 70vh
  display: flex
  box-sizing: border-box
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  overflow: scroll
  padding-bottom: 20px

.leagueYear
  font-size: 20px
  width: 100%
  margin: 15px 0
  text-align: center
  color: darkgrey
  font-weight: 400

.league
  font-size: 14px
  width: 100px
  height: 40px
  text-align: center
  color: #3FA2F7
  margin: 0 15px
  background-color: white
  display: flex
  justify-content: center
  align-items: center
  border-radius: 10px
  box-shadow: 0 8px 13px 3px rgba(0,0,0,0.16)
  border: solid 2px #3FA2F7




