
.container
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  z-index: 300
  background: rgba(256, 256, 256, 0.2)
  overflow: scroll

.blur
  position: fixed
  display: flex
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  filter: blur(4px)
