
.Button {
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 25px;
    margin: 0 5px;
}

.Button:active,
.Button:hover {
    /*box-shadow: 0 7px 13px 3px rgba(0,0,0,0.16);*/
    box-shadow: 0 2px 3px #ccc;
    /*margin: 0 5px;*/
    /*transform: scale(1.05,1.05);*/
    /*color: #FFFFFF;*/
    background-color: #3FA2F7;
    margin: 0 10px;
}

.Logout:hover {
    background-color: red
}

.Button:hover p {
    color: white;
}

.Button:active {
    box-shadow: none;
}

.Nav {
    position: absolute;
    width: 95vw;
    top: 0;
    padding: 0 15px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.NavButton {
    display: flex;
    padding: 0 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.Footer {
    width: 90vw;
    height: 50px;
    padding: 0 5vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer p {
    font-size: 15px;
}

.Social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Social svg {
    margin: 0 10px;
}

.Text,
.TextBody,
.TextBigValue {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #297FCA;
    letter-spacing: 0;
    line-height: 19px;
    font-weight: 300;
    text-decoration: none;
    margin: 0;
}

.TextBody {
    opacity: 0.8;
}

.TextBigValue {
    font-size: 60px;
    font-weight: 500;
    margin: 50px 0;
    align-self: center;
}