
.container
  height: 100
  width: 100
  display: flex
  flex-flow: column
  justify-content: space-between
  align-items: center

.message
  margin-top: 10px
  color: darkgrey
  font-family: Assistant
  font-weight: 200
  font-size: 26px

.loader
  height: 50px
  width: 50px

.blur
  filter: blur(4px)
