@import '../../../index.styl'

.teamCard
  display: flex
  align-items: center
  justify-content: flex-start
  background: #FFFFFF
  box-shadow: 0 8px 13px 3px rgba(0,0,0,0.16)
  border-radius: 19px
  height: 116px
  width: 336px
  padding-left: 17px
  margin-bottom: 45px

.right
  flex-flow: column
  align-items: flex-start
  justify-content: center
  margin-left: 20px

.name
  @extend .Text
  font-size: 20
  line-height: 30px

.position
  @extend .TextBody
  cont-size: 16
