@import '../../../index.styl'

.BlueButton,
.Button
  transition: padding .15s linear
  min-width: 90px
  padding: 0 10px
  display: flex
  box-sizing: border-box
  height: 100%
  justify-content: center
  align-items: center
  text-align: center
  text-decoration: none
  p
    font-weight: 400
  &:hover
    background-color: #3FA2F7
    p
      color: white
      font-weight: bold
      opacity: 1 !important
    @media (min-width: 550px)
      padding: 0 30px

.active
  border-bottom: solid 3px #3FA2F7
  padding-top: 3px
