@import '../../../index.styl'

.BlueButton,
.Button
  //transition: padding .15s linear
  min-width: 70px
  padding: 0 10px
  display: flex
  box-sizing: border-box
  height: 100%
  justify-content: center
  align-items: center
  text-align: center
  text-decoration: none
  p
    font-weight: 300
    font-size: 14px
  &:hover
    border-bottom: solid 3px #3FA2F7
    padding-top: 3px

.active
  //border-bottom: solid 3px #3FA2F7
