
.Button {
    transition: all .3s ease-in-out;
    border-radius: 25px;
    margin: 0 5px;
    display: flex;
    padding: 0 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.Button:active,
.Button:hover {
    /*box-shadow: 0 7px 13px 3px rgba(0,0,0,0.16);*/
    box-shadow: 0 2px 3px #ccc;
    /*margin: 0 5px;*/
    /*transform: scale(1.05,1.05);*/
    /*color: #FFFFFF;*/
    background-color: #3FA2F7;
    margin: 0 10px;
}

.Button:hover p {
    color: white;
}